#app3 {
  border: 1px solid red;
}
#app3 > .square {
  width: 10vw;
  height: 10vw;
  border: 2px solid black;
  transition: 1s;
}
#app3 > .square.active {
  margin-left: 200px;
  border-radius: 50%;
}
