@keyframes changeColor {
  0% {
    background-color: red;
  }
  33.3% {
    background-color: green;
  }
  66.6% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}
#app4 > .circle.active {
  animation: changeColor 3s infinite alternate;
}
#app4 > .circle {
  width: 15vw;
  height: 15vw;
  border: 2px solid grey;
  border-radius: 50%;
}
